
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#121212,#212b46);
}

.title{
    font-size: 85px;
    color:white;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.container-input{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
}

.container-input input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    outline: none;
    margin-right: 8px;
}
.container input::placeholder{
    color: #f1f1f1;
}

.bt-search{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bt-search:hover{
    transition: transform 0.2s;
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 500px;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.main h2{
    margin: 11px 0;
    font-size: 39px;
}
.main span{
    margin-bottom: 15px;
}

@media (max-width: 620px){
    .title{
        font-size: 60px;
    }

    .main h2{
        font-size: 28px;
    }

    .main{
        width: 80%;
    }
}